@charset "UTF-8";

/* Paleta de cores: 
    Verder: #49a09d
    Lilás: #5f2c82
*/
:root{
    --cor1: #49a09d;
    --cor2: #5f2c82;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--cor2);
}
img{
    width: 70vw;
    height: 30vh;
    border-radius: 15px 15px 0px 0px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section{
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.637);
    border-radius: 15px;
    width: 70vw;
    height: 80vh;
}
h1{
    text-align: center;
    margin: 10px;
}
p{
    text-align: justify;
    padding: 10px;
}
span{
    color: white;
}
input{
    width: 60vw;
    height: 5vh;
    border-radius: 10px;
    margin: 3px;
    border: 2px solid var(--cor2);
}
div{
    display: flex;
    background-color: #5f2c82;
    margin: 5px;
    border-radius: 10px;
    height: 6vh;
    width: 68vw;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 68vw;
    height: 7vh;
    border-radius: 10px;
}
button#login{
    background-color: var(--cor1);
    color: white;
    border: none;
}
button#login:hover{
    background-color: white;
    color: #49a09d;
    border: 2px solid var(--cor1);
}
button#esqueci{
    color: var(--cor1);
    border: 2px solid var(--cor1);
}
button#esqueci:hover{
    background-color: var(--cor1);
    color: white;
    border: 2px solid var(--cor2);
}