@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}
*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: calc(10vh - 2em);
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2em;
}
section > p{
    padding-bottom: 2em;
}
section.imagem > p{
    padding: 10px;
    margin-bottom: 2em;
    text-shadow: 2px 2px 0px black;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(59, 59, 59, 0.26);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.39);
    background-attachment: fixed;
}
section.imagem > p{
    width: 400px;
    background-color: rgba(27, 27, 27, 0.301);
}
section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}
